<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Sex</th>
      <th>Age</th>
      <th>Address</th>
      <th>Attendance</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.sex %></td>
        <td><%= user.age %></td>
        <td><%= user.address %></td>
        <td><%= user.attendance %></td>
        <td><%= user.opinion %></td>
        <td><%= link_to 'Show', user, class: "btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, class: "btn btn-primary" %>
